html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  scrollbar-width: thin;

  font-family: "Poppins", sans-serif;

  ::-webkit-scrollbar {
    display: none;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #a0a4a8;
  }

  @media only screen and (min-width: 1151px) {
    ::-webkit-scrollbar {
      display: block;
      width: 4px;
    }
  }
}

#__next {
  height: 100%;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

h1 {
  font-size: 60px;
  line-height: 90px;
}

h2 {
  font-size: 40px;
  line-height: 60px;
}

h3 {
  font-size: 34px;
  line-height: 51px;
}

h4 {
  font-size: 28px;
  line-height: 42px;
}

h5 {
  font-size: 24px;
  line-height: 36px;
}

h6 {
  font-size: 18px;
  line-height: 27px;
}

p {
  font-size: 16px;
  line-height: 24px;
}

p.body2 {
  font-size: 14px;
  line-height: 21px;
}

p.caption1 {
  font-size: 12px;
  line-height: 18px;
}

p.caption2 {
  font-size: 10px;
  line-height: 10px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
